<a href="https://colab.research.google.com/github/kaitouz/ML-DL/blob/main/OpenEdu/rubez/rubez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('pulsar_stars_new.csv')
df.head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

In [ ]:
# Filter, select the rows that satisfy the following conditions:
# + TG = 0 & 90.3515625 <= MIP <= 91.234375
# or
# + TG = 1 & 20.7890625 <= MIP <= 25.890625

df_droped = df.drop(df[ ((df['TG'] == 0) & ((df['MIP'] < 90.3515625) | (df['MIP'] > 91.234375)))  
                      | ((df['TG'] == 1) & ((df['MIP'] < 20.7890625) | (df['MIP'] > 25.890625)))].index)

# Ques#1: Count the number of rows left after filtering 
# Ques#2: Calculate mean of column MIP 
# Ques#3: Caculate max of column SIP
df_droped.describe()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
count,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000
mean,57.066136,38.174879,2.926815,15.633319,46.012103,43.528434,5.242942,64.549211,0.500000
std,33.830627,6.562409,2.394224,15.902261,50.014934,26.819550,5.184025,89.707727,0.501242
min,20.789062,26.873182,0.298862,-0.018722,0.488294,10.233267,-0.678051,-1.773263,0.000000
25%,23.458984,32.855758,0.599177,1.317727,2.255853,15.174804,0.676995,-0.185900,0.000000
50%,58.121094,37.538520,2.024560,5.363443,20.551421,49.628582,2.605976,6.198902,0.500000
75%,90.820312,42.105847,5.343198,30.259182,89.244983,67.077292,9.632660,117.460894,1.000000
max,91.234375,62.135939,6.937638,50.157976,164.551839,91.089903,22.198752,507.383680,1.000000

In [ ]:
# Выполните линейную нормировку всех значений предикторов полученной выборки. (Implement linear normalization for Predictors)

In [ ]:
# Predictors
X_train = df_droped.drop('TG', axis=1)
X_train

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC
92,23.625000,29.948654,5.688038,35.987172,146.568562,82.394624,-0.274902,-1.121848
125,90.968750,41.607905,0.729465,1.211588,1.897993,14.792646,10.418707,128.754887
523,23.734375,31.606587,5.485040,31.877044,32.781773,57.900561,2.020024,3.614699
538,22.515625,30.841324,5.701813,34.574225,74.826923,71.169925,0.803086,-0.138985
568,23.671875,31.177694,5.157291,30.346608,69.510870,62.256018,1.346743,1.181281
...,...,...,...,...,...,...,...,...
17099,91.031250,41.862673,0.565620,1.317615,4.469064,23.039007,6.248240,42.821363
17335,90.679688,41.167329,0.910271,1.804456,1.798495,13.210618,11.248273,162.089970
17432,90.664062,38.962377,0.667237,1.570840,2.102843,13.717173,10.638249,146.213774
17742,90.953125,47.129618,0.905928,0.767671,7.645485,34.665912,4.826019,23.122647
17776,90.414062,40.192414,0.473464,1.547406,1.508361,13.059771,11.438551,161.530238

In [ ]:
# Output
y_train = df_droped['TG']
y_train.head(10)

92      1
125     0
523     1
538     1
568     1
599     1
839     0
1000    0
1212    0
1605    1
Name: TG, dtype: int64

In [ ]:
# Linear normalization: x_norm = (x - x_min)/(x_max - x_min) (Or use sklearn.preprocessing.MinMaxScaler)
X_norm = (X_train - X_train.min()) / (X_train.max() - X_train.min())

# Ques#4: Calculate mean of column MIP after normaliztion
X_norm.describe()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC
count,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000
mean,0.514968,0.320500,0.395849,0.311938,0.277477,0.411780,0.258821,0.130259
std,0.480240,0.186100,0.360642,0.316925,0.304851,0.331693,0.226606,0.176189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.037901,0.169657,0.045237,0.026635,0.010774,0.061115,0.059232,0.003118
50%,0.529943,0.302453,0.259942,0.107264,0.122289,0.487224,0.143553,0.015658
75%,0.994122,0.431976,0.759829,0.603426,0.540990,0.703022,0.450706,0.234180
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
# 
new_obj = [[0.598, 0.748, 0.809, 0.913, 0.667, 0.608, 0.473, 0.731]]

In [ ]:
# Train a logistic regression model (using normalized data).

from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state=2019, solver='lbfgs')
model.fit(np.array(X_norm), y_train)

LogisticRegression(random_state=2019)

In [ ]:
# Ques#5: Caculate probability of classifying the star as a pulsar: (TG = 1) (e.g. result = 0.82449167)
model.predict_proba(new_obj)

array([[0.17550833, 0.82449167]])

In [ ]:
# Ques#6: Caculate the distance from the new star to its nearest neighbor using the Euclidean metric.

from sklearn.neighbors import KNeighborsClassifier

neigh = KNeighborsClassifier(n_neighbors=1, p=2) # p = 2 because using the Euclidean metric
neigh.fit(np.array(X_norm), y_train)  
neigh.kneighbors(new_obj)  # e.g. result = 1.179112 (= neigh.kneighbors(new_obj)[0][0][0])

(array([[1.179112]]), array([[19]]))